.container-memo{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
}

.img-memo-container{
    width: 70px;
    height: 70px;
    border: 1px solid rgb(87, 87, 87);
    text-align: left;
    justify-items: left;
    margin-bottom: 1rem;
}

/* .container-memo-detail{
    display: flex;
    flex-wrap: wrap;
    
} */

.memo-name{
    font-size: 13px;
    padding-right: 0.5rem;
    border-right: 1px solid black;
}

.memo-date{
    font-size: 13px;
    width: 180px;
}

.memo-grid{
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* width: 220px; */
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.memo-detail{
    font-size: 16px;
}

.memo-bubble{
    margin-bottom: 1rem;
}

#no-memo{
    margin-top: 5rem;
}

@media screen and (max-width: 939px){
.container-memo {
    justify-content: left;
}
.img-memo-container{
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
} 