.container-white{
    position: absolute;
    height: 62vh;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--color-white);
    border-radius: 10px;
    z-index: 1;
}

#white-title{
    width: 200px;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.chunck-container-edit{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: start;
    justify-items: center;
    grid-gap: 2rem;
}

.detail-container-edit{
    margin: 0.8rem;
    width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

}

.login-input {
    border: 1px solid rgb(119, 119, 119);
}

#img-edit{
    border: 1px solid rgb(119, 119, 119);
}

#btn-edit{
    margin-top: 2rem;
}