#edit{
    height: 92vh;
}

.container-white{
    position: relative;
    height: fit-content;
    top: 45%;
    transform: translate(0, -50%);
    text-align: center;
    background-color: var(--color-white);
    border-radius: 10px;
    z-index: 1;
    margin: auto;
    /* padding: 1rem; */
}

@media screen and (max-width: 1050px){
    .container-white{
        position: relative;
        top: 2rem;
        transform: translate(0, 0);
    }
}

#white-title{
    width: 200px;
    margin-bottom: 3rem;
    padding-top: 2rem;
}

/* .chunck-container-edit{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: start;
    justify-items: center;
    grid-gap: 2rem;
} */

.chunck-for-divide{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.detail-container-edit{
    margin: 0.8rem;
    width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

}

.login-input {
    border: 1px solid rgb(119, 119, 119);
}

#img-edit{
    border: 1px solid rgb(119, 119, 119);
}

#btn-edit{
    margin-top: 2rem;
    margin-bottom: 2rem;
}