#container-img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 500px;
    transform: translate(-50%, -50%);
}

#container-garden{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 350px;
}

/* 1400px 이상 */
#grass{
    top: 60%;
    z-index: 5;
}

#sun{
    top: -13%;
    left: 20%;
    z-index: -1;
}

#cloud1{
    top: 5%;
    left: 33%;
}

#cloud2{
    top: -15%;
    left: 100%;
}

#cloud3{
    top: 45%;
    left: -10%;
}

#cloud4{
    top: 40%;
    left: 110%;
}

#cloud5{
    top: 5%;
    left: 5%;
}

#bird-container{
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    width: 200px;
    z-index: 1000;
    top: 0%;
    left: 4%;
}

#bird{
    z-index: 1000;
    /* top: 0%;
    left: 4%; */
    position: relative;
}

#bird:hover{
    cursor: pointer;
}

/* #img0{
    top: 28%;
    left: 30%;
    z-index: 1000;
} */

/* 소나무 */

#img1{
    top: -6%;
    left: 24%;
    z-index: 10;
    opacity:.99;
}

/* 꽃나무 */

#img2{
    top: -5%;
    left: 90%;
    z-index: 10;
}

/* 울타리 */
#img3{
    top: 15%;
    z-index: 0;
}

/* 새집 */
#img4{
    top: 10%;
    left: 14%;
    z-index: 20;
}

/* 토끼 */
#img5{
    top: 35%;
    left: 70%;
    z-index: 20;
}

/* 연못 */
#img6{
    top: 33%;
    left: 30%;
    z-index: 20;
}

/* 개구리 */
#img7{
    top: 30%;
    left: 35%;
    z-index: 40;
}

/* 분수 */
#img8{
    top: -0%;
    left: 50%;
    z-index: 10;
}

/* 두더지 */
#img9{
    top: 70%;
    left: 82%;
    z-index: 20;
}

/* 벤치의자 */
#img10{
    top: 9%;
    left: 74%;
    z-index: 15;
}

/* 튤립, 민들레, 토끼풀 */
#img11, #img12, #img13{
    top: 34%;
    left: 52%;
    z-index: 16;
}

/* 돌 */
#img14{
    top: 32%;
    left: 6%;
    z-index: 20;
}

/* 덤불 */
#img15{
    top: 33%;
    left: 84%;
    z-index: 20;
}

/* 사다리*/
#img16{
    top: 85%;
    left: 33%;
    z-index: 20;
}

/* 다람쥐 그네 */
#img17{
    top: -5%;
    left: 38%;
    z-index: 10;
}

/* 정원사 앉아있는 버전 */
#img18{
    top: 40%;
    left: 38%;
    z-index: 30;
}

/* 개미 */
#img19{
    top: 75%;
    left: 20%;
    z-index: 10;
}

/* 지렁이 */
#img20{
    top: 82%;
    left: 80%;
    z-index: 30;
}

/* 연꽃 */
#img21{
    top: 31%;
    left: 27%;
    z-index: 30;
}

/* 사다리 올라가는 정원사 */
#img22{
    top: 80%;
    left: 29%;
    z-index: 30;
}

#imgTest{
    z-index: 1000;
}

.tooltips{
    z-index: 1000;
}

/* 로드맵 항목 체크에 따라 숨기기/보여주기 */
.hide{
    visibility: hidden;
}

/* .show{
    display: block
} */

#login-garden{
    pointer-events: none;
}



.bird-alert{
    position: relative;
    left: -80%;
    margin-top: 2.4rem;
    height: 20px;
}

#msg-to-down{
    position: relative;
    margin-top: 28rem;
    text-align: center;
}

#arrow-to-down{
    margin-bottom: 2.8rem;
    width: 100px;
    height: 40px;
}