header{
    height: 100vh;
    left: 3rem;
}

.container-header{
    padding-top: 2rem;
    padding-left: 8rem;
    z-index: 1000;
}

.header-title{
    z-index: 1000;
    position: relative;
}

/* .white{
    transition: var(--transition);
    color: var(--color-white);
}

.black{
    transition: var(--transition);
    color: var(--color-black);
} */

