#friend{
    height: 92vh;
}

#container-friend-divider{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

#friend-title-divider{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}

#container-friend-divider{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#friend-list{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#friend-list-detail{
    height: 356px;
    width: 382px;
}

#friend-util{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.add-btn{
    width: 35px;
    height: 35px;
    margin-top: 1.8rem;
    line-height: 1.9;
    border-radius: 5px;
    background-color: var(--color-grey);
    box-sizing: border-box;
}

.add-btn:hover{
    background-color: #c9c9c9;
    cursor: pointer;
}

.add-btn:active{
    border: 2.5px solid #a5a5a5;
    line-height: 1.5;
}

.friend{
    display: grid;
    grid-template-columns: 0.45fr 0.4fr 1fr 0.3fr;
    grid-gap: 1rem;
    background-color: var(--color-selected);
    font-size: 15px;
    width: 350px;
    border-radius: 5px;
    padding: 0.5rem;
    height: 5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.go-friend{
    width: auto;
}

.go-friend:hover{
    cursor: pointer;
    border: 4px solid var(--color-bg);
}

.select-friend{
    
}

.friend-field{
    margin: auto;
    width: 50px;
    height: 30px;
    line-height: 1.8;
}

.back{
    /* background-color: ; */
}

.friend-img{
    height: 60px;
    width: 60px;
    border: 1px solid var(--color-white);
}

.friend-detail-divider{
    margin-top: 0.2rem;
}

.friend-name, .friend-progress{
    /* margin-top: 1.2rem; */
    font-size: 15px;
}

.friend-progress{

}

.friend-cancle{
    margin-top: 1.5rem;
    margin-left: 0.3rem;
    z-index: 1000;
}

.friend-cancle:hover{
    cursor: pointer;
}

.friend-cancle-img{
    pointer-events: none;
}

.util{
    background-color: var(--color-grey);
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 382px;
}



#util-search{
    /* width: 380px; */
}

#random-divider{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#search-title{
    text-align: left;
    margin-left: 0.2rem;
    margin-bottom: 0.6rem;
    width: 200px;
}

.search-input{
    margin: 0.4rem;
    width: 230px;
    height: 35px;
    border: none;
    border-radius: 3px;
    padding: 0.4rem;
    /* margin-top: 1.2rem; */

}

#btn-search{
    width: 60px;
    height: 38px;
    margin-top: 0.35rem; 
    margin-left: 0.4rem;
}

#search-divider{
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: 2.5fr 1fr; */
    text-align: center;
    justify-items: center
}

.hide{
    display: none;
}

.add-btn-random{
    width: 25px;
    height: 25px;
    margin-top: 1rem;
    line-height: 1.5;
    border-radius: 5px;
    background-color: var(--color-box-variant);
    box-sizing: border-box;
    text-align: center;
}

.add-btn-random:hover{
    cursor: pointer;
}

.add-btn-random:active{
    border: 2px solid #527cd6;
    line-height: 1.2;
}

/* 스위치 관련 */
.switch-checkbox {
    display: none;
  
    /* &:checked + .switch-label-theme .ball {
      transform: translateX(24px);  */
  }

  .form-switch {
    /* padding-right: 4.5em; */
    margin-left: 4rem;
}
  
  .switch-label {
    
    position: relative;
    height: 26px;
    width: 50px;
    border-radius: 50px;
  
   
    background-color: var(--switch-bg-color);
  }
  
  .ball {
    
    position: absolute;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
  
    
    transition: transform 0.2s linear;
  
    
    background-color: var(--ball-color);
  }

  #friend-pagination{
    position: relative;
    margin: 0;
    top: 0%;
    left: 0%;
    margin-bottom: 2rem;
  }

  #friend-add-pagination{
    position: relative;
    margin: 0;
    top: 0%;
    left: 0%;
    margin-bottom: 1rem;
  }

  .friend-add{
    display: grid;
    grid-template-columns: 0.45fr 0.4fr 1fr 0.3fr;
    grid-gap: 1rem;
    background-color: var(--color-selected);
    font-size: 15px;
    width: 350px;
    border-radius: 5px;
    padding: 0.5rem;
    height: 5rem;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.complete{
    pointer-events: none;
    width: 70px;
    font-size: 13px;
    line-height: 1.85;
    /* color: #3758a0; */
    color: var(--color-white);
    background-color: rgb(17, 87, 153);;
    font-weight: 700;
    /* box-sizing: border-box;
    border: 2px solid white; */
}

#container-no-friend{
    /* padding: 2.7rem 5.8rem 2.7rem 5.8rem; */
    height: 300px;
    width: 382px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#title-no-friend{
    padding: 6.5rem 0rem 6.5rem 0rem;
}

#alret-no-add-friend{
    width: 300px;
    margin: 5rem;
    margin-bottom: 0;
    text-align: center;
}

  @media screen and (max-width: 520px){
    .util{
        width: 14rem;
    }
    #search-divider{
        display: flex;
        flex-wrap: wrap;
    }
    .friend {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        background-color: var(--color-selected);
        font-size: 15px;
        width: auto;
        border-radius: 5px;
        padding: 0.5rem;
        height: auto;
        margin-bottom: 1rem;
    }
    .friend-add{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: auto;
        height: auto;
    }
    #friend-list-detail{
        width: 224px;
    }
    .btn-friend-add{
        text-align: center;
    }

    .friend-detail-divider{
        margin-left: 1rem;
    }
    #random-divider {
        display: grid;
        grid-template-columns: 0;
    }
    .form-switch {
        /* padding-right: 4.5em; */
        margin-left: 1.2rem;
        margin-bottom: 1rem;
    }
    #friend-list {
        margin-right: 0;
    }
    #container-no-friend{
        width: 14rem;
    }
}