#join-second{
    height: 500px;
    width: 700px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#type{
    width: 260px;
    margin: 0.4rem;
    margin-left: 1rem;
}

/* .id-check{
    position: relative;
} */

.chunck-container{
    width: 650px;
    margin: auto;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: start;
    justify-items: center;
}

.detail-container{
    margin: 0.8rem;
    width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.detail-title{
    font-size: 17px;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 1.4rem;
    width: 90px;
}

.detail-container-container{
    justify-content: center;
    align-items: center;
    margin: auto;
}

.id-check{
    margin-bottom: 0.18rem;
}

.img-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 2rem;
    margin-top: 0.4rem;
}

#detail-pw{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}

#input-pw{
    margin-right: 3.7rem;
}

#pw-alert{
    font-size: 13.5px;
    color: rgb(173, 2, 2);
    margin-bottom: 0;
    margin-left: 1.2rem;
}

#img-upload{
    width: 200px;
    height: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.img-box{
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-color: var(--color-white);
    background-size: cover;
    /* background-image: url('../../assets/basic-profile.png'); */
}

#go-back{
    margin-top: 1rem;
    font-size: medium;
}

#go-back:hover{
    color: #bbbbbb;
    transition: var(--transition);
    cursor: pointer;
}

#tooltip{
    left: 0;
    text-align: left;
}