/* 로그인 */

.container-login{
    position: absolute;
    width: 400px;
    height: 330px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--color-transparent);
    color: var(--color-white);
}

#login-title{
    padding: 2rem;
}

.btn-login-select{
    width: 200px;
    height: 38px;
    border-radius: 3.5px;
    margin: 0.5rem;
    text-align: center;
    background-color: var();
}

#login-back{
    margin-top: 1.2rem;
    font-size: medium;
}