/* 로그인 */

.container-login{
    position: absolute;
    width: 400px;
    height: 380px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--color-transparent);
    color: var(--color-white);
}

#login-title{
    padding: 2rem;
}

.login-input{
    margin: 0.4rem;
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 3px;
    padding: 0.4rem;

}

#login-result{
    height: 40px;
    align-items: center;
    justify-items: center;
    line-height: 3;
}

.btn-login{
    width: 200px;
    height: 38px;
    border-radius: 3.5px;
    margin: 0.5rem;
    text-align: center;
    background-color: var();
}

#login-back{
    margin-top: 1rem;
    font-size: medium;
}

#login-back:hover{
    /* margin-top: 1rem;
    font-size: medium; */
    color: #bbbbbb;
    transition: var(--transition);
    cursor: pointer;
}

