/* 아네모네 */
@font-face {
  font-family: 'Cafe24Ohsquare';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Ohsquareair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 써라운드 */
@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 해피니스 산스 */

@font-face {
  font-family: 'Happiness-Sans-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Happiness-Sans-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Happiness-Sans-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
  --color-bg: #bce4ff;
  --color-box: rgb(224, 224, 224);
  --color-box-variant: rgb(140, 200, 240);
  --color-transparent: rgba(62, 62, 62, 0.72);
  --color-white: #fff;
  --color-black: rgb(51, 51, 51);
  --color-front: rgb(26, 188, 156);
  --color-back: rgb(243, 156, 18);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;

  --transition: all 400ms ease;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

body #root{
  background-color: var(--color-bg);
  color: var(--color-black);
}

#root h1 {
  font-family: 'Cafe24Ohsquare';
}

#root h3, h4, h5 {
  font-family: 'Cafe24Ohsquareair';
}

.container{
  width: var(--container-width-lg);
  margin: 0 auto;
}

a{
  text-decoration: none;
  transition: var(--transition);
  color: var(--color-black);
}

a:hover{
  color: var(--color-black);
}

button{
  background-color: var(--color-bg);
  font-weight: 500;
}