.header-wrapper{
    position: absolute;
    top: 2rem;
    left: 3rem;
    z-index: 1000;
}

/* 내브바 여는 아이콘 */

#nav-icon{
    width: 35px;
    height: 35px;
    z-index: 1000;
}

#nav-icon:hover{
    cursor: pointer;
}

/* 내브바 컨테이너 */

#nav-content{
    background-color: var(--color-transparent);
    width: 400px;
    height: 100vh;
    z-index: 1000;
}

.show-menu{
    position: absolute;
    left: 0px;
    top: 0px;
    transition: 1.5s;
    z-index: 1000;
}

.hide-menu{
    position: absolute;
    top: 0px;
    left: -400px;
    transition: 1.5s;
    z-index: 1000;
}

/* 내브바 닫는 아이콘 */
#nav-cancel{
    color: var(--color-white);
    width: 30px;
    height: 30px;
    margin-left: 20.5rem;
    margin-top: 0.5rem;
}

#nav-cancel:hover{
    cursor: pointer;
}

/* 유저 정보 요약 창 */
#container-user{
    background-color: var(--color-white-transparent);
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 5px;
    height: 125px;
}

.user-profile{
    border: 1px solid var(--color-grey);
    margin: 0 1.2rem 0 0;
    width: 100px;
    height: 100px;
}

#contianer-user-detail{
    margin-top: 1rem;
}

#user-nickname{
    margin-top: 0.2rem;
    margin-bottom: 0;
}

#logout{
    margin: 1.6rem 0rem;
}

/* 상세 탭 */
.go-tab{
    margin-top: 1.2rem;
    color: var(--color-white);
    margin-right: 2rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

.go-tab:hover{
    cursor: pointer;
    background-color: var(--color-white-transparent);
    color: var(--color-black);
    border-radius: 5px;
    transition: 0.2ms
}

.go-tab:active{
    background-color: var(--color-white-transparent);
    color: var(--color-black);
    border-radius: 5px;
    border: 3px solid var(--color-white);
}

#user-delete{
    margin-top: 8rem;
}