.header-wrapper{
    position: absolute;
    top: 2rem;
    left: 3rem;
    z-index: 1000;
}

/* 내브바 여는 아이콘 */

#nav-icon{
    width: 35px;
    height: 35px;
    z-index: 1000;
}

#nav-icon:hover{
    cursor: pointer;
}

/* 내브바 컨테이너 */

#nav-content{
    background-color: var(--color-transparent);
    width: 400px;
    height: 100vh;
    z-index: 1000;
}

.show-menu{
    position: absolute;
    left: 0px;
    top: 0px;
    transition: 1s;
    z-index: 1000;
}

.hide-menu{
    position: absolute;
    top: 0px;
    left: -400px;
    transition: 1s;
    z-index: 1000;
}

/* 내브바 닫는 아이콘 */
#nav-cancel{
    color: var(--color-white);
    width: 30px;
    height: 30px;
    margin-left: 20.5rem;
    margin-top: 0.5rem;
}

#nav-cancel:hover{
    cursor: pointer;
}

/* 회원 정보 수정 탭 */
.go-tab{
    margin-top: 2rem;
    color: var(--color-white);
}

.go-tab:hover{
    cursor: pointer;
}

#user-delete{
    margin-top: 2rem;
}